**/node_modules
.git
.gitignore
.env
.env.local
data
dist
dist-electron
*.md
*.log
.DS_Store
.idea
.vscode
packages/desktop/*
!packages/desktop/resources/
packages/desktop/resources/*
!packages/desktop/resources/theme.css
npm
livekit
translation-draft
